%section.section
  .container
    %nav.level
      .level-left
        .level-item
          %p.subtitle.is-5= link_to 'Produits', products_path
        .level-item
          &gt;
        .level-item
          = link_to @product.name, @product
        .level-item
          &gt;
          Nouvelle information

%section.section
  .container
    = render 'form', product: @product, information: @information
