%h1 Bienvenue sur DocTOX
%h2 Un site participatif de documentation en toxicologie.

= form_tag search_path, method: :get, remote: true, role: 'search' do
  = search_field_tag :query, {}, { autofocus: true, required: true, value: params[:query] || nil, placeholder: 'rechercher un produit, un symptôme, un contexte…', style: 'width: 400px;' }
  = submit_tag 'Rechercher'

#js-search-results
