%section.hero.is-medium.is-primary.is-bold
  .hero-body
    .container
      %p.title.is-1 DocTOX
      %p.subtitle.is-3 Un site participatif de documentation en toxicologie.

%section.hero.is-medium
  .hero-body
    .container
      .columns
        .column
        .column.is-two-thirds
          = form_tag search_path, method: :get, remote: true, role: 'search' do
            %p.control.has-addons
              = text_field_tag :query, {},
                { class: 'input is-expanded is-medium', autofocus: true, required: true, value: params[:query] || nil, placeholder: 'rechercher un produit, un symptôme, un contexte…' }
              = submit_tag 'Rechercher', class: 'button is-medium is-primary is-outlined'

        .column
      #js-search-results
