%h4.title.is-4
  Résultats de la recherche pour le terme :
  %em= @query.to_s

- if @products.empty?
  %h5.title.is-5 Produits :
  %p
    Désolé, je n'ai rien trouvé.
    %br
    Pour me faire pardonner, je vous propose de
    = link_to "Créer : #{@query}", new_product_path(name: @query)
- else
  .columns
    - @products.each do |item|
      .column
        = render 'products/product_short', product: item
