%h1 Produits

%h2 Les #{Product::RECENT_NUMBER} derniers produits

- if @products.any?
  %table
    %thead
      %tr
        %th Nom
    %tbody
      - @products.recent.each do |product|
        %tr
          %td= product.name
- else
  %em ♪ Non, rien de rien... ♪

%h2 Créer un nouveau produit
= render 'form', product: Product.new(name: params[:name])
